.percentage-graph__data-point {
  height: 50px;
  display: block;
  background: rebeccapurple;
  color: #353535;
  font-weight: bolder;
  overflow: visible;
  padding-left: 3px;
}

.percentage-graph__data-point span {
  display: none;
}

.percentage-graph__data-point:nth-of-type(1) {
  background: #cebf2c;
}
.percentage-graph__data-point:nth-of-type(2) {
  background: #3750a3;
}
.percentage-graph__data-point:nth-of-type(3) {
  background: #3796a3;
}
.percentage-graph__data-point:nth-of-type(4) {
  background: #e91e63;
}
.percentage-graph__data-point:nth-of-type(5) {
  background: #3fb546;
}
.percentage-graph__data-point:nth-of-type(6) {
  background: #607d8b;
}
.percentage-graph__data-point:nth-of-type(7) {
  background: #ffeb3b;
}
.percentage-graph__data-point:nth-of-type(8) {
  background: #525b32;
}
.percentage-graph__data-point:nth-of-type(9) {
  background: goldenrod;
}
.percentage-graph__data-point:nth-of-type(10) {
  background: aliceblue;
}

@media (min-width: 576px) {
  .percentage-graph__data-point {
    display: inline-block;
    color: white;
    overflow: hidden;
  }

  .percentage-graph__data-point span {
    display: inline;
  }
}
