<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Jonathan Bell <jonathanbell.ca@gmail.com>">

    <title>QT Stock Watch</title>
</head>

<body>

  <p>Welcome to the <a href="https://github.com/jonathanbell/qt-stock-watch">QT Stock Watch</a> Backend</p>

</body>
</html>
