@media screen and (max-width: 768px) {
  table.stupid-responsive-table {
    font-size: 150%;
  }

  table.stupid-responsive-table thead {
    display: none;
  }

  table.stupid-responsive-table tbody td {
    display: block;
  }

  table.stupid-responsive-table tr {
    border-bottom: 2px solid #ccc;
  }
  table.stupid-responsive-table tr:last-of-type {
    border-bottom: 0;
  }

  /* Where the magic happens. */
  table.stupid-responsive-table tbody td:before {
    content: attr(data-th);
    color: rgb(41, 43, 44);
    display: inline-block;
    width: 50%;
  }
}
