<script>

    $('#search-stock-symbol').submit(function(event) {
        event.preventDefault();
        if ($('#search-stock-input').val() != '' || $('#search-stock-input').val() != 'undefined') {
            window.location.href = '/stock/' + $('#search-stock-input').val().toUpperCase();
        }
    });

</script>


</body>
</html>
