{{> partials/head}}

<div class="container-fluid pt-5">
    <div class="row">
        <main class="col-sm-12 pt-5 text-center">

            <h1>404: Not Found</h1>
            <img class="img-fluid" src="/img/lazy_cat.gif" />
            <p class="lead">You seem to have disrupted the inner workings of my housekeeper.</p>
            {{#messages.error}}
                <div class="w-50 mx-auto">
                    <p class="text-danger" role="alert">
                        <strong>{{messages.error}}</strong>
                    </p>
                </div>
            {{/messages.error}}

        </main>
    </div>
</div>

{{> partials/foot}}
