{{> partials/head}}

<div class="container-fluid pt-5">
    <div class="row">
        <main class="col-sm-12 pt-5 text-center">

            <h1>500: Internal Server Error</h1>
            <img class="img-fluid" style="width: 330px;" src="https://i.pinimg.com/originals/e9/d6/b9/e9d6b961b74cf300214d9c020c4654af.png" />
            <p class="lead">We got 99 problems. Jay Z would understand.</p>
            {{#messages.error}}
                <div class="w-50 mx-auto">
                    <p class="text-danger" role="alert">
                        <strong>{{messages.error}}</strong>
                    </p>
                </div>
            {{/messages.error}}
            <p>Please check your application's configuration. If this issue persists, contact <a href="mailto:jonathanbell.ca@gmail.com">jonathanbell.ca@gmail.com</a> and report this error.</p>

        </main>
    </div>
</div>

{{> partials/foot}}
