{{> partials/head}}

<div class="container-fluid">
    <div class="row">

        <main class="col-sm-12 pt-4">

            <div class="row pb-2 pt-5">
                <div class="col-sm">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#charts" aria-expanded="false" aria-controls="charts">
                        Show/Hide Charts
                    </button>
                </div>
            </div>

            <div id="charts" class="collapse in">
                <section class="row pt-1">

                    {{#positions}}{{^closedPnl}}
                    <div class="col-sm">
                        <a title="View Google financial data for {{symbol}}" target="_blank" href="https://finance.google.com/finance?q={{symbol}}">
                            <!-- http://www.networkerror.org/component/content/44.html?task=view -->
                            <img src="https://finance.google.com/finance/getchart?q={{symbol}}&p=5d" class="img-fluid img-thumbnail" alt="Stock history chart showing the last 5 days of trading price for the stock symbol {{symbol}}" />
                        </a>
                        <h4>
                            <a href="/stock/{{symbol}}">{{symbol}}</a>
                        </h4>
                        <span class="text-muted">&dollar;{{currentPrice}}/share</span>
                    </div>
                    {{/closedPnl}}{{/positions}}
                    <div class="col-sm mr-3 ml-3 card">
                        <div id="piechart"></div>
                    </div>

                </section>
            </div>

            <h2>Your Positions</h2>

            <table class="table table-striped stupid-responsive-table">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Quantity</th>
                        <th>Purchase Price</th>
                        <th>Current Price</th>
                        <th>Dividend</th>
                        <th>&#37; Profit/Loss</th>
                        <th>&#36; Profit/Loss</th>
                        <th>&#8693;</th>
                    </tr>
                </thead>
                <tbody>
                    {{#positions}} 
                        {{^closedPnl}} 
                            {{#isUp}}<tr class="text-success">{{/isUp}} 
                            {{^isUp}}<tr class="text-danger">{{/isUp}}
                                <td>
                                    {{symbol}} {{#isCanadian}}
                                    <img alt="Canadian Currency" width="20" src="/img/flag_canada.png"
                                    />{{/isCanadian}} {{#isAmerican}}
                                    <img alt="American Currency" width="20" src="/img/flag_usa.png"
                                    />{{/isAmerican}}
                                </td>
                                <td>{{openQuantity}}</td>
                                <td>{{averageEntryPrice}}</td>
                                <td>{{currentPrice}}</td>
                                <td style="cursor: default;" {{#additionalStockData.exDate}} title="Dividend ex-date: {{additionalStockData.exDate}}" {{/additionalStockData.exDate}}>{{additionalStockData.dividend}}</td>
                                <td>{{percentPnl}}&#37;</td>
                                <td>{{openPnl}}</td>
                                <td>{{#isUp}}&#8673;{{/isUp}}{{^isUp}}&#8675;{{/isUp}}</td>
                            </tr>
                        {{/closedPnl}} 
                    {{/positions}}
                </tbody>
            </table>

        </main>
    </div>
</div>

<script src="/js/stupid-responsive-table.js"></script>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(function() {
            var data = google.visualization.arrayToDataTable({{{googlePieChartData}}});
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, {
                title: 'Percent of Current Market Value (CAD)'
            });
        });
    }, false);
</script>

{{> partials/foot}}
